{% extends 'login.html'%}
{% block title %}
<title>Trang chủ</title>
     <link href="/static/assets/css/style.css" rel="stylesheet" />
     <link href="/static/assets/css/nav.css" rel="stylesheet" />
{% endblock  %}
{% block sidebar %}
{% include 'client/nav-bar.html' %}
{% endblock%}
 {% block body %}
     {% if  msg %}
         {% if msg == 'T' %}
         <script>window.alert("Đặt hàng thành công");</script>
         {% else %}
             <script>window.alert("Đặt hàng không thành công, xin thử lại");</script>
         {% endif %}
     {% endif %}
        {% include 'danhsachsach.html' %}
    {% endblock %}
 {% block search_toolbar %}
{% endblock %}