


<nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class='navbar-brands'><h2>Nhà sách <em> Dead inside</em></h2></a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Trang chủ
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }} ">Tìm kiếm</a></li>
                <li class="nav-item"><a class="nav-link" href="
                {% if current_user.is_authenticated %}
                   {{ url_for('cart') }}
                 {% else %}
                 {{ url_for('user_login') }}
                 {% endif %}
                ">Giỏ hàng <div id="cart" class="cart" data-totalitems="0">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                </a></li>
             {% if session['costumer'] %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout')  }}">Đăng xuất</a></li>
                {% endif %}
                {% if not session['costumer'] %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('user_login') }}">Đăng nhập</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('route_register') }}">Đăng kí</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href=" {% if current_user.is_authenticated %}
                   {{ url_for('admin_log') }}
                 {% else %}
                 {{ url_for('route_logout')}}
                 {% endif %} ">Nhân viên</a></li>

            </ul>
          </div>
        </div>
      </nav>
