
{% extends "client/search.html" %}
{% block search %}
  {% if dssach1 %}
      Có sách tìm thấy
      <div class="container"  >
        <div class="row">
            {% for sach in dssach1 %}
                <div class="perfect-feature">
                    <div class="featureWrap">
                        <a class="image-link"   href="{{url_for('book_detail', book_id = sach.id)}}" id="c_img">
                            <div class="image" href="{{url_for('book_detail', book_id = sach.id)}}" >
                                <img src="{{ url_for('static',filename=sach.hinh) }}" alt="{{ sach.hinh }}">
                            </div>
                        </a>
                        <div class="title" id="c_title" href="{{url_for('book_detail', book_id = sach.id)}}">
                            <a >{{  sach.ten_sach }}</a>
                        </div>
                        <div class="author" id="c_author">
                            <a  href="{{url_for('book_detail', book_id = sach.id)}}">{{ sach.tac_gia }}</a>
                        </div>
                        <div class="price" id="c_price" href="{{url_for('book_detail', book_id = sach.id)}}">
                            <a>{{ "{:,.0f}".format(sach.don_gia) }} VNĐ</a>
                        </div>
                        <div class="star-rating ">
                                    <ul class="star row">
                                        <li class="fa fa-star "></li>
                                        <li class="fa fa-star "></li>
                                        <li class="fa fa-star "></li>
                                        <li class="fa fa-star "></li>
                                        <li class="fa fa-star "></li>
                                    </ul>
                        </div>
                        <div class="page-wrapper" >
                      <button id="addtocart" class="addtocart" {% if not current_user.is_authenticated %}
                                  onclick="page_trans()"
                         {% else %}
                              onclick="
                                      addcart()
                                      addToCart({{ sach.id }},'{{ sach.ten_sach }}' , {{ sach.don_gia}})"
                      {% endif %}
                      {% if sach.so_luong <= 20%}
                          disabled
                      {% endif %}>
                        Thêm vào giỏ
                        <span class="cart-item"	></span>
                      </button>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  {% else %}
      Không có sách nào được tìm thấy
  {% endif %}
        {% endblock %}