{% extends 'client/home.html'%}
{% block title %}
<title>Thông tin giao hàng</title>
     <link href="/static/assets/css/payment.css" rel="stylesheet" />
    <link href="/static/assets/css/style.css" rel="stylesheet" />
     <link href="/static/assets/css/nav.css" rel="stylesheet" />
{% endblock  %}
{% block body %}
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h2 class="navbar-brands">Thông tin vận chuyển</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>Tên đăng nhập</label>
                <input type="text" class="form-control" disabled="" value="{{ current_user.username.replace('#KH_','') }}">
              </div>
            </div>
              <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label>Tên KH</label>
                <input type="text" class="form-control" value="{{ current_user.name }}">
              </div>
            </div>
              </div>
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Địa chỉ email</label>
                <input type="email" class="form-control" value="{{ current_user.email }}">
              </div>
            </div>
          </div>
            <div class="col-md- pr-md-1">
              <div class="form-group">
                <label>Số điện thoại liên lạc</label>
                <input type="text" class="form-control"  value="{{ current_user.dien_thoai }}">
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" placeholder="Địa chỉ" value="{{ current_user.dia_chi }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label>Ghi chú</label>
                <input type="text" class="form-control" placeholder="VD: chỉ giao trong giờ hành chính" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label>Số tiền thu hộ</label>
                  <div class = "cart-totals-value total-color">{{ "{:,.0f}".format(price) }} VNĐ</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
         <input type="button"
               onclick="pay()"
               value="Thanh toán"
               class="btn btn-danger" />
      </div>
    </div>
  </div>

</div>
{% endblock body %}