
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
{% block title %}
  <title>
    Đăng nhập
  </title>
{% endblock title %}
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/static/assets/css/css_main.css" rel="stylesheet" />

  {%  block css %}  {%  endblock css %}


</head>
<body class="">
  <div class="wrapper">
    {% block sidebar %}
      {% include 'sidebar.html' %}
    {% endblock %}
    <div class="main-panel">
      {% block search_toolbar%}
        {% include 'Search_toolbar.html' %}
      {% endblock %}
{% block body %}
      <div class="content">

          {% block content %}
                  <div class="row">
                    <div class="col-md-8">
                      <div class="card">
                        <form role="form" method="post" action="{{ url_for('route_login') }}">
                          <div class="card-header">
                            <h5 class="title">Đăng nhập</h5>
                            <h6 class="card-category">
                              {% if msg %}
                                  {{ msg | safe }}
                              {% endif %}
                            </h6>
                          </div>
                          <div class="card-body" >
                              <div class="row">
                                <div class="col-md-3 px-md-1">
                                  <div class="form-group">
                                    <label>Tên đăng nhập </label>
                                    <input type="text" placeholder="Nhập tên đăng nhập", class="form-control" name="username">
                                  </div>
                                </div>

                              </div>
                              <div class="row">

                                <div class="col-md-3 px-md-1">
                                  <div class="form-group">
                                    <label>Mật khẩu</label>
                                    <input type="password" placeholder="Nhập mật khẩu", class="form-control" name="password">
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="card-footer">
                            <button type="submit" name="login" class="btn btn-fill btn-primary">Đăng nhập</button>
                                Chưa có tài khoản? <a href="{{ url_for('route_register') }}" class="text-primary">Đăng kí ngay</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  {% endblock content %}
                </div>

      </div>
    {% endblock body %}

      {% include 'footer.html' %}

    </div>

  </div>

  {% include 'fixed-plugin.html' %}

  {% include 'scripts.html' %}

  {% include 'scripts-sidebar.html' %}


</body>

