{% extends "login.html" %}

{% block title %} <title>Không tìm thấy trang</title>{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">∑(ΦдΦlll có lỗi xảy ra</h6>
                    <h4 class="card-title">
                        Không tìm thấy trang
                    </h4>
                    <a href="/" class="btn btn-primary btn-round">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
