{% extends "login.html" %}

{% block title %}<title>Truy cập bị từ chối</title>  {% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">(ʘ言ʘ╬) Ở đây chúng tôi không chơi truy cập trái phép</h6>
                    <h4 class="card-title">
                        Mời đăng nhập và đi bằng cửa chính б（＞ε＜）∂
                    </h4>
                    <a href="{{ url_for('route_login') }}" class="btn btn-primary btn-round">Login</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
