{% extends "login.html" %}

{% block title %} Đăng kí {% endblock %}


{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="{{ url_for('route_register') }}">

                <div class="card-header">
                  <h5 class="title">Đăng kí</h5>

                  <h6 class="card-category">
                    {% if msg %}
                        {{ msg | safe }}
                    {% endif %}
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Tên đăng nhập</label>
                          <input type="text" placeholder="Nhập tên đăng nhập", class="form-control" name="username">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" placeholder="Nhập tên đăng nhập", class="form-control" name="email">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Mật khẩu</label>
                          <input type="password" placeholder="Nhập mật khẩu", class="form-control" name="password">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Xác nhận mật khẩu</label>
                            <input type="password" placeholder="Xác nhận mật khẩu", class="form-control" name="confirm_password">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 px-md-1">
                         <label for="avatar">Ảnh đại diện</label>
                         <input type="file"
                                id="avatar"
                                name="avatar"
                                class="form-control" />
                     </div>
                    </div>
                </div>
                <div class="card-footer">
                  <button type="submit" name="register" class="btn btn-fill btn-primary">Đăng kí</button>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

