<form method="post" action=" {{ url_for('login_admin') }} ">
    <h1 class="text-center text-success ">Đăng nhập</h1>
    <div class="form-group">
        <label>Tài khoản</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Tên tài khoản" />
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu"  />
    </div>
    <div class="form-group">
        <input type="submit" value="Đăng nhập" id="btn-submit" class="btn btn-success">
    </div>
</form>